<div class="nes-container is-rounded with-title">
  <h3 class="title">Top Players</h3>
  <div class="nes-table-responsive">
      <table class="nes-table is-bordered is-centered">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of players; index as i">
            <td>{{i+1}}</td>
            <td>{{player.name}}</td>
            <td>{{player.totalScore}}</td>
          </tr>          
        </tbody>
      </table>
    </div>
</div>

