<div class="nes-container is-rounded with-title">
  <h3 class="title">Top Players</h3>
  <div class="nes-table-responsive">
      <table class="nes-table is-bordered is-centered">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Pat</td>
            <td>651651651</td>
          </tr>
          <tr>
            <td>Thou hast had a good morning</td>
            <td>Thou hast had a good afternoon</td>
            <td>Thou hast had a good evening</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>