<div class="nes-container with-title">
  <p class="title">Archive Board</p>
  <form [formGroup]="archiveBoard" (submit)="submit()">
    <div class="nes-field">
      <label for="name">Archive Name</label>
      <input type="text" id="name" class="nes-input" formControlName="name" />
    </div>
    <div class="nes-field">
      <label for="year">Year</label>
      <input
        type="number"
        [min]="currentYear"
        id="name"
        class="nes-input"
        formControlName="year"
      />
    </div>
    <div class="text-right">
      <button
        class="nes-btn is-full"
        [ngClass]="{
          'is-success': archiveBoard.valid,
          'is-disabled': archiveBoard.invalid
        }"
        [disabled]="archiveBoard.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
