<div class="nes-container with-title">
  <p class="title">All Players</p>
  <div class="text-right">
    <a class="nes-btn is-warning" [routerLink]="['admin/archive-board']">
      Archive Board
    </a>
  </div>
  <table class="nes-table is-bordered is-centered table-full-width">
    <thead>
      <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container
        *ngFor="let player of players; index as i"
        #scoreIsHidden="appValue"
        appValue="true"
      >
        <tr>
          <td>
            {{ player.name }}
          </td>
          <td class="text-right">
            {{ player.totalScore | number }}
          </td>
          <td class="text-right">
            [<a
              class="show"
              (click)="scoreIsHidden.appValue = !scoreIsHidden.appValue"
            >
              Score </a
            >] [<a class="remove" (click)="openDeleteDialog(player._id)">
              Delete </a
            >]
          </td>
        </tr>
        <tr [hidden]="scoreIsHidden.appValue">
          <td colspan="3">
            <div
              class="grid-x highlight-row"
              *ngFor="let score of player.scores"
            >
              <div class="cell auto">{{ score.score }}</div>
              <div class="cell auto">{{ score.reason }}</div>
              <div class="cell auto">{{ score.dateCreated | date }}</div>
              <div class="cellt auto">[<a class="remove">X</a>]</div>
            </div>
          </td>
        </tr>
      </ng-container>

      <tr *ngIf="players.length <= 0">
        <td class="nes-text is-error text-center" colspan="3">
          <i class="nes-kirby"></i><br />
          No Players added
        </td>
      </tr>
    </tbody>
  </table>
</div>

<dialog class="nes-dialog" id="delete-dialog">
  <form
    [formGroup]="deletePlayerForm"
    method="dialog"
    (submit)="submitDeletePlayer()"
  >
    <p class="title nes-text is-error">
      Delete
      {{ selectedPlayterToDelete ? selectedPlayterToDelete.name : '[noBody]' }}
    </p>
    <p>Are you sure?</p>
    <div>
      <label>
        <input
          formControlName="answer"
          type="radio"
          class="nes-radio"
          name="answer"
          value="yes"
        />
        <span>Yes</span>
      </label>
      <br />
      <label>
        <input
          formControlName="answer"
          type="radio"
          class="nes-radio"
          name="answer"
          value="no"
        />
        <span>No</span>
      </label>
    </div>
    <menu class="dialog-menu">
      <div class="grid-x grid-padding-x">
        <div class="cell-auto">
          <button
            class="nes-btn"
            (click)="this.deleteDialog.close()"
            type="reset"
          >
            Cancel
          </button>
        </div>
        <div class="cell-auto">
          <button
            [ngClass]="{
              'is-primary': deletePlayerForm.valid,
              'is-disabled': !deletePlayerForm.valid
            }"
            [disabled]="!deletePlayerForm.valid"
            class="nes-btn"
            type="submit"
          >
            Confirm
          </button>
        </div>
      </div>
    </menu>
  </form>
</dialog>
