<div class="nes-container with-title">
  <p class="title">Add Players</p>

  <form [formGroup]="addPlayerNamesForm" (submit)="submitPlayerNames($event)">
    <div class="nes-field">
      <label for="name_field">Playernames</label>
      <input
        type="text"
        id="name_field"
        class="uppercase nes-input"
        formControlName="playerNames"
        placeholder="AAA, BBB, CCC, DDD, EEE, FFF"
        #playerNames
        (input)="validatePlayerNames(playerNames.value)"
      />
    </div>
    <div class="text-right">
      <button
        class="nes-btn is-full"
        [ngClass]="{
          'is-success ': isSubmitValid,
          'is-disabled': !isSubmitValid
        }"
        type="submit"
      >
        Submit
      </button>
    </div>
  </form>

  <p [hidden]="validatedPlayersToAdd.getValue().length <= 0">
    Players to add:
    <span
      *ngFor="let player of validatedPlayersToAdd.getValue()"
      class="nes-text"
      [ngClass]="{ 'is-success': player.isValid, 'is-error': !player.isValid }"
    >
      {{ player.name }}
    </span>
  </p>
</div>
