@import 'foundation';

$header-background: white !default;
$header-border-bottom: 0.25rem solid #d5d5d5 !default;

@mixin header {
  .header {
    background: $header-background;
    border-bottom: $header-border-bottom;
    padding: 1rem 1.5rem;
    position: relative;

    h1 {
      i {
        display: none;
        @include breakpoint(medium up) {
          display: inline-block;
          margin: 0 1rem;
        }
      }
    }
  }

  .demo-info {
    background-color: darkred;
    color: white;
    line-height: 2rem;
    vertical-align: middle;
    text-align: center;
  }
}

@include header;
