<header class="header">
  <div class="grid-x">
    <div class="cell">
      <h1 class="text-center">
        <i class="nes-logo"></i>
        Grollmus Highscore
        <i class="snes-jp-logo" (click)="loginDialog.showModal()"></i>
      </h1>
    </div>
  </div>
</header>

<dialog class="nes-dialog" id="dialog-login" #addLoginDialog>
  <form method="dialog">
    <p class="title">Login</p>
    <div class="nes-field">
      <label for="username">Username</label>
      <input type="text" id="username" class="nes-input" />
    </div>
    <div class="nes-field">
      <label for="password">Password</label>
      <input type="password" id="password" class="nes-input" />
    </div>
    <menu class="dialog-menu">
      <button class="nes-btn" type="reset" (click)="loginDialog.close()">
        Cancel
      </button>
      &nbsp;
      <button class="nes-btn is-primary" type="submit">Confirm</button>
    </menu>
  </form>
</dialog>
