<header class="header">
  <div class="grid-x">
    <div class="cell text-center">
      <h1>
        <i class="nes-logo" (click)="logout()"></i>
        Grollmus Highscore
        <i class="snes-jp-logo" (click)="loginDialog.showModal()"></i>
      </h1>
      <span *ngIf="isLoggedIn" class="nes-text is-success">
        You are Logged-In
      </span>
    </div>
  </div>
</header>

<dialog class="nes-dialog" id="dialog-login" #addLoginDialog>
  <form method="dialog">
    <p class="title">Login</p>
    <div class="nes-field">
      <label for="username">Username</label>
      <input #email type="email" id="username" class="nes-input" />
    </div>
    <div class="nes-field">
      <label for="password">Password</label>
      <input #password type="password" id="password" class="nes-input" />
    </div>
    <menu class="dialog-menu">
      <button class="nes-btn" type="reset" (click)="loginDialog.close()">
        Cancel
      </button>
      &nbsp;
      <button
        class="nes-btn is-primary"
        type="submit"
        (click)="auth(email.value, password.value)"
      >
        Confirm
      </button>
    </menu>
  </form>
</dialog>
