<div class="grid-container">
  <div class="grid-x">
    <div class="cell">
      <div class="grid-y grid-margin-y">
        <div class="cell shrink">
          <button
            type="button"
            class="nes-btn is-primary"
            (click)="toggleAllPlayers()"
          >
            {{ isHidden.allPlayers ? 'Show' : 'Hide' }} all Players
          </button>
        </div>
        <div class="cell" style="background: #fff">
          <app-all-players
            [isContentHidden]="isHidden.allPlayers"
          ></app-all-players>
        </div>
      </div>
    </div>
  </div>
</div>
