<div class="grid-y medium-grid-frame">
  <div class="cell shrink header medium-cell-block-container">
    <app-header></app-header>
  </div>
  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x">
      <div class="cell medium-cell-block-y">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- <div id="nescss">
  <div class="container">
    <section class="showcase">
      <app-controls></app-controls>
    </section>
    <section class="showcase">
      <app-footer></app-footer>
    </section>
  </div>
</div> -->
